_XML2020/data/schema/AgentskiModul/Transakcije_agent_Izvestaj_o_predjenim_kilometrima.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Izvestaj_o_predjenim_kilometrima">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element maxOccurs="unbounded" name="Automobil_id" type="xs:long"/>
                <xs:element name="Dodatne_informacije" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
