AgentApp/AgentApp/src/main/resources/syncData.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ftn.uns.ac.rs/sync"
	xmlns="http://www.ftn.uns.ac.rs/sync" version="1.0">
	<!-- proveriti slike(linija 169), datume-->
	
<!-- ADRESA -->
	<xs:element name="Adresa">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long" />
				<xs:element name="Mesto" type="xs:string" />
				<xs:element name="PostanskiBroj" type="xs:string" />
				<xs:element name="Ulica" type="xs:string" />
				<xs:element name="Broj" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetAdresa">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetAdresaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Adresa" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostAdresaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Adresa" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- Automobil -->
	<xs:element name="Automobil">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long" />
				<xs:element name="MarkaAutomobilaId" type="xs:long" />
				<xs:element name="ModelAutomobilaId" type="xs:long" />
				<xs:element name="KlasaAutomobilaId" type="xs:long" />
				<xs:element name="VrstaGorivaId" type="xs:long" />
				<xs:element name="TipMenjacaId" type="xs:long" />
				<xs:element name="PredjenaKilometraza" type="xs:float" />
				<xs:element name="CollisionDamageWaiver" type="xs:boolean" />
				<xs:element name="BrojSedistaZaDecu" type="xs:int" />
				<xs:element name="UkupnaOcena" type="xs:float" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetAutomobil">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetAutomobilResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Automobil" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PostAutomobilResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Automobil" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- Brand -->
	<xs:element name="Brand">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long" />
				<xs:element name="Name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetBrand">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetBrandResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Brand" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PostBrandResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Brand" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- Klasa -->
	<xs:element name="Klasa">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long" />
				<xs:element name="Name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetKlasa">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetKlasaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Klasa" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostKlasaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Klasa" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- GORIVO -->
	<xs:element name="FuelType">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long" />
				<xs:element name="Name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetFuelTypes">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetFuelTypesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FuelType" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostFuelTypesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FuelType" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- Model -->
	<xs:element name="Model">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long" />
				<xs:element name="Name" type="xs:string" />
				<xs:element name="MarkaAutomobilaId" type="xs:long" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetModel">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetModelResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Model" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostModelResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Model" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- Slika -->
	<xs:element name="Slika">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long" />
			 	<xs:element name="Slika" type="valuelist"/>
				<xs:element name="AutomobilId" type="xs:long" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- lista za slike-stringove -->
	<xs:simpleType name="valuelist">	
   					<xs:list itemType="xs:string"/>
	</xs:simpleType>	

	<xs:element name="GetSlika">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetSlikaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Slika" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostSlikaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Slika" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
<!-- MENJAC -->
	<xs:element name="TransmissionType">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long" />
				<xs:element name="Name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetTransmissionTypes">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetTransmissionTypesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransmissionType" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostTransmissionTypesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransmissionType" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- CommonData -->
	<xs:element name="CommonData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="datumKreiranja" type="xs:dateTime" />
				<xs:element name="DatumIzmene" type="xs:dateTime" />
				<xs:element name="UserId" type="xs:long" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetCommonData">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetCommonDataResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommonData" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostCommonDataResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommonData" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- Komentar -->
	<xs:element name="Komentar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long"/>
				<xs:element name="Tekstkomentara" type="xs:string"/>
				<xs:element name="Odobren" type="xs:boolean"/>
				<xs:element name="AutomobilId" type="xs:long"/>
				<xs:element name="RezervacijaId" type="xs:long"/>
				<xs:element name="Autor" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetKomentar">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetKomentarResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Komentar" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostKomentarResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Komentar" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
<!-- Ocena -->
	<xs:element name="Ocena">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long"/>
				<xs:element name="VrednostOcene" type="xs:string"/>
				<xs:element name="AutomobilId" type="xs:long"/>
				<xs:element name="RezervacijaId" type="xs:long"/>
				<xs:element name="Autor" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetOcena">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetOcenaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Ocena" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostOcenaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Ocena" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
<!-- Oglas -->
	<xs:element name="Oglas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long"/>
				<xs:element name="OdDatuma" type="xs:dateTime"/>
				<xs:element name="DoDatuma" type="xs:dateTime"/>
				<xs:element name="CenovnikId" type="xs:long"/>
				<xs:element name="AutomobilId" type="xs:long"/>
				<xs:element name="PlaniranaKm" type="xs:float"/>
				<xs:element name="AdresaId" type="xs:long"/>
				<xs:element name="Username" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetOglas">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetOglasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Oglas" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostOglasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Oglas" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- Cenovnik -->
	<xs:element name="Cenovnik">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long"/>
				<xs:element name="NazivCenovnika" type="xs:string"/>
				<xs:element name="PopustZaPreko30Dana" type="xs:float"/>
				<xs:element name="CenaCollisionDamageWaiver" type="xs:float"/>
				<xs:element name="CenaPoKilometru" type="xs:float"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetCenovnik">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetCenovnikResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Cenovnik" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostCenovnikResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Cenovnik" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

<!-- Poruka -->
	<xs:element name="Poruka">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long"/>
				<xs:element name="TekstPoruke" type="xs:string"/>
				<xs:element name="RezervacijaId" type="xs:long"/>
				<xs:element name="AutomobilId" type="xs:long"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetPoruka">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetPorukaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Poruka" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostPorukaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Poruka" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- Rezervacija -->
	<xs:element name="Rezervacija">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long"/>
				<xs:element name="UkupnaCena" type="xs:double"/>
				<xs:element name="Bundle" type="xs:boolean"/>
				<xs:element name="StatusRezervacije" type="xs:string"/>
				<xs:element name="Username" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetRezervacija">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetRezervacijaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Rezervacija" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostRezervacijaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Rezervacija" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- Izvestaj -->
	<xs:element name="Izvestaj">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long"/>
				<xs:element name="PredjenaKilometraza" type="xs:float"/>
				<xs:element name="TekstIzvestaja" type="xs:string"/>
				<xs:element name="NarudzbenicaId" type="xs:long"/>
				<xs:element name="Automobilid" type="xs:long"/>
				<xs:element name="RezervacijaId" type="xs:long"/>
				<xs:element name="PrekoracenaKilometraza" type="xs:long"/>
				<xs:element name="DodataniTroskovi" type="xs:long"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetIzvestaj">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetIzvestajResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Izvestaj" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostIzvestajResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Izvestaj" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- Narudzbenica -->
	<xs:element name="Narudzbenica">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long"/>
				<xs:element name="AgentId" type="xs:long"/>
				<xs:element name="UserId" type="xs:string"/>
				<xs:element name="OglasId" type="xs:long"/>
				<xs:element name="RezervacijaId" type="xs:long"/>
				<xs:element name="OdDatuma" type="xs:dateTime"/>
				<xs:element name="DoDatuma" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetNarudzbenica">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetNarudzbenicaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Narudzbenica" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostNarudzbenicaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Narudzbenica" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<!-- UserType -->
	<xs:element name="UserType">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:long" />
				<xs:element name="CommonDataId" type="xs:long"/>
				
				<xs:element name="KorisnickoIme" type="xs:string"/>
				<xs:element name="Lozinka" type="xs:string"/>
				<xs:element name="Email" type="xs:string"/>
				<xs:element name="Status" type="xs:string"/>
				<xs:element name="AdresaId" type="xs:long"/>
				
				<xs:element name="Pol" type="xs:string"/>
				<xs:element name="Ime" type="xs:string"/>
				<xs:element name="Prezime" type="xs:string"/>
				<xs:element name="Jmbg" type="xs:string"/>
				
				<xs:element name="NazivFirme" type="xs:string"/>
				<xs:element name="PoslovniMaticniBroj" type="xs:string"/>
				
				<xs:element name="AllowedToCommend" type="xs:boolean"/>
				<xs:element name="AllowedToCommend" type="xs:boolean"/>
				<xs:element name="AllowedToMakeReservation" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetUserType">
		<!-- moze se dodati neki datum, pa da se vraca samo ono sto je menjano 
			nakon dok datuma ... mada nije neophodno -->
	</xs:element>

	<xs:element name="GetUserTypeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserType" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostUserTypeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserType" maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
</xs:schema>